@model Proiect2.Models.PhoneViewModels.StoreIndexData



@{ ViewData["Title"] = "Stores"; }
<h2>Stores</h2>
<p>
    <a asp-action="Create">Create New Store</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Store Name</th>
            <th>Adress</th>
            <th>Phones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stores)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["StoreID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.StoreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>

                <td>
                    @{ foreach (var phone in item.PhonesStores)
                        {
                            @phone.Phone.ID @: @phone.Phone.Title <br />
                        } }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>

@if (Model.Phones != null)
{
<h3> Phones that can be ordered from this store --- Books Published by Selected Publisher</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Model</th>
            <th>Producer</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Phones)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["PhoneID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { phoneID = item.ID })
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Producer
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </table>
}
@if (Model.Orders != null)
{
    <h3>
        Customers that have ordered the Selected Phone
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Order Date</th>
        </tr>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @item.Customer.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>

            </tr>
       }
    </table>
}